body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #e467bd; 
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panda-container {
  position: relative;
}
.panda-image {
  width: 300px;
  animation: panda-bounce 5s infinite ease-in-out;
}
.speech-bubble {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffeb3b;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: bubble-fade 5s infinite;
  opacity: 0;
}
@keyframes panda-bounce {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
@keyframes bubble-fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes panda-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

